<h1 class="title">Soon To Be Legends:</h1>
<hr>

<% @students.each do |student| %>
	<ul>
  	<li><h3><%= link_to(student.full_name, student) %></h3></li>
  </ul>
<% end %>

<br><hr>

<%= link_to '+ student', new_student_path %>

