.errors{
  color: red;
}

#upload-button{
/*  border: 2px solid red;*/
  margin-right: 73.7%;
}

/*.csv-upload {
  margin: auto;
}

#csv {
  border: 2px solid green;
  margin: auto;
  align: center;
}
.csv-upload form {
  margin: auto;
}
*/
